.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(1.3px);
  z-index: 998;
}

.overlay {
  position: fixed;
  top: 2%;
  left: 12dvw;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 999;
  padding: 2rem;
  width: 75dvw;
  @media (max-width: $bp-medium) {
    width: 85dvw;
    left: 8dvw;
  }
  @media (max-width: $bp-small) {
    left: 2dvw;
    width: 95dvw;
  }
}
