.projects {
  padding: 8rem 8rem 15rem;
  @media (max-width: $bp-largest) {
    padding: 8rem 2rem 15rem;
  }
  & h3 {
    width: fit-content;
    background-color: rgba($tertiary-light-color, 0.1);
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    color: $tertiary-color;
    font-size: 1.6rem;
    & span {
      margin-right: 2rem;
    }
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $secondary-dark-color;
  }
  h4 {
    font-size: 3rem;
    color: $secondary-light-color;
    margin: 2.5rem 0 5rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
  }
  &__list {
    list-style: none;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-content: space-between;
  }
  &__item {
    border: 0.1rem solid rgba($tertiary-light-color, 0.3);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(8) {
      background-color: rgba($tertiary-light-color, 0.3);
      border: none;
    }

    & h1 {
      color: $secondary-color;
      font-size: 1.8rem;
      letter-spacing: 0.3rem;
    }
    & p {
      color: $secondary-dark-color;
      margin: 1rem 0;
      font-size: 1.4rem;
      text-align: left;
    }
    & ul {
      margin: 1rem 0 2rem;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      & li {
        margin-right: 1rem;
        background-color: rgba($tertiary-dark-color, 0.4);
        font-size: 1.4rem;
        color: $secondary-light-color;
        padding: 0.6rem 1.3rem;
        border-radius: 0.6rem;
      }
    }
    & figure {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__pagination {
    margin-top: 2rem;
  }
}
