.tools {
  width: 100%;
  margin: 10rem 0 12rem;
  display: grid;
  place-items: center;
  @media (max-width: $bp-small) {
    margin: 5rem 0;
  }
  & h3 {
    width: fit-content;
    background-color: rgba($tertiary-light-color, 0.1);
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    color: $tertiary-color;
    font-size: 1.6rem;
    & span {
      margin-right: 2rem;
    }
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $secondary-dark-color;
  }
  h4 {
    font-size: 3rem;
    color: $secondary-light-color;
    margin: 4rem 0;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    text-align: center;
  }
  h6 {
    font-size: 1.5rem;
    color: $secondary-dark-color;
    margin-bottom: 3.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
  }
  &__list {
    list-style: none;
    display: flex;
    margin-bottom: 6rem;
    @media (max-width: $bp-largest) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__item {
    margin: 0 1.5rem;
    background-color: rgba($secondary-color, 0.2);
    padding: 1.5rem;
    border-radius: 50%;
    @media (max-width: $bp-largest) {
      margin-bottom: 2rem;
    }
    & svg {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      color: inherit;
    }
  }
}
