$primary-color: #1e1e1e;
$primary-very-light-color: rgb(216, 209, 209);
$primary-light-color: rgb(62, 61, 61);
$secondary-color: #fff;
$secondary-light-color: rgba(241, 241, 241, 0.945);
$secondary-dark-color: rgba(210, 206, 206, 0.945);
$tertiary-color: #7b4ae2;
$tertiary-light-color: #8a63de;
$tertiary-dark-color: #6429e2;

$default-font: "Roboto", sans-serif;
$default-font-size: 1.6rem;

$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

$bp-largest: 1200px;
$bp-large: 900px;
$bp-medium: 768px;
$bp-small: 600px;
$bp-smallest: 400px;
